html,body{
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    background: rgba(26, 30, 43);
}

html::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

hr{
    color: white;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgb(136, 135, 135);
}

#contentSection{
    min-height: 100%;
    overflow-y: auto;
}

#detailsSection{
    padding: 0 0 0 0;
    color: white;
    width: 100%;
   
}

#cvSection{
    padding: 0 0 0 0;
    width: 100%;
    overflow-y: auto;
    background: white;
}

@media only screen and (max-width: 850px) {
    #cvSection{
        display: none;
        margin: 0;
        padding: 0;
    }
}

.form-control{
    background: rgba(0, 0, 0, 0.9);
}

.form-control-lg{
    background: rgba(0, 0, 0, 0.9);
}

.custom-select{
    fill: white;
    background: rgba(0, 0, 0, 0.9);
}

.textarea{
    font-size: 1em;
}

.footer-copyright{
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.borderTemplate{
    border-bottom: 1px dashed black;
}

#removePublication, #removeConference, #removeMonograph, #removeChapter, #removeReview, #removePending, #removePatents, #removeOthers{
    display: none;
}

.detailsForm{
    display: none;
    
}

.selectPub, .pubOutput{
    display: none;
}
