html,body{
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
    
}

html::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

hr{
    color: white;
}

#contentSection{
    min-height: 100%;
}

#detailsSection{
    padding: 0 0 0 0;
    color: white;
    background: rgba(26, 30, 43);
    height: 100%;
    overflow: auto;
}

#cvSection{
    padding: 0 0 0 0;
    width: 100%;
    overflow: auto;
}

@media only screen and (max-width: 850px) {
    #cvSection{
        display: none;
        margin: 0;
        padding: 0;
    }
}

.form-control{
    background: rgba(0, 0, 0, 0.9);
}

.custom-select{
    fill: white;
    background: rgba(0, 0, 0, 0.9);
}

.textarea{
    font-size: 1em;
}

.footer-copyright{
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.borderTemplate{
    border-bottom: 1px dashed black;
}

#removePublication{
    display: none;
}

#removeOthers{
    display: none;
}